
<%= simple_form_for @plane, :url => plane_path, method: :patch do |f| %>
  <%= f.hidden_field :user_id, value: @user.id%>
      <div class="form-group container d-flex flex-column justify-content-center align-items-center text-center mt-3 p-5" id="new_plane_form">
        <h1>Update your Jet</h1>
        <%= f.input :price_per_min, class: "form-control" %>
          <%= f.input :base_price, class: "form-control " %>
          <%= f.input :location, class: "form-control"%>
          <%= f.input :description, class: "form-control"%>
          <%= f.hidden_field :owner, value: params[:owner]%>
          <%= f.input :image, as: :file %>
          <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

