<div class="container">
  <% unless @planes.sample %>
    <div class="container d-flex flex-column justify-content-center align-items-center col-9" style="margin-top: 150px; color: black;">
      <h1>Add a plane <%= @user.id %></h1>
      <%= simple_form_for :plane, :url => planes_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, value: @user.id%>
        <%= f.input :price_per_min %>
        <%= f.input :base_price %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.input :image, as: :file%>
        <%= f.input :image_cache, as: :hidden%>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>

  <h1>Choose a Jet</h1>
  <div class="plane-deck">

    <% @planes.each do |plane| %>
      <%= link_to plane_path(plane, destination: params[:destination], date: params[:date]) do %>
        <div class="card plane mb-3" style="border: 0px; border-radius: 4px;">
          <%= cl_image_tag(plane.image, crop: :fill, class: "w-100") %>
          <div class="card-body w-100 text-body">
            <h5 class="card-title"> <%= plane.description %> </h5>
            <p class="card-text"><small class="text-muted"><%= plane.location %> to <%= params[:destination] %></small></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
