<div class="container">
  <% unless @planes.sample %>
    <div class="container d-flex flex-column justify-content-center align-items-center col-9" style="margin-top: 150px; color: black;">
      <h1>Add a plane <%= @user.id %></h1>
      <%= simple_form_for :plane, :url => planes_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, value: @user.id%>
        <%= f.input :price_per_min %>
        <%= f.input :base_price %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.input :image, as: :file%>
        <%= f.input :image_cache, as: :hidden%>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>

  <div class="card-deck">
    <% @planes.each do |plane| %>
      <div class="card" style="width: 18rem;">
        <%= link_to plane_path(plane, destination: params[:destination], date: params[:date]) do %>
        <%= cl_image_tag(plane.image, crop: :fill, class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title">
            <%= plane.description %>
          </h2>
        </div>
        <div class="card-text">
          <p> <%= "Origin: #{plane.location}" %></p>
        </div>
    </div>
    <% end %>
  </div>
</div>
