<div class="bg-light">
  <!-- plane info -->
  <div class="p-3 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-8">
         <h3> <%= @plane.description %> </h3>
         <p>Only Jet Fly offers members the unique ability to offset the cost of a charter by sharing the seats they do not need. You create the charter and get flight credits when anyone purchases your extra seats. Flight credits can be used to book future flights, extra seats, and more! Anyone (members or non-members) can book seats on a Shared Charter.</p>
       </div>
       <div class="col-4">
        <%= cl_image_tag(@plane.image, crop: :fill, class: "rounded w-100")  %>
      </div>
    </div>
  </div>
</div>
<!-- plane info -->

<!-- flight menu / checkout-->
<div class="container py-3">
  <div class="row">
    <div class="col-8">
      <h2 class="text-secondary">Flight Info</h2>
      <!-- make a card -->
      <div class="mb-3 p-3 bg-white rounded border">
        <p><strong>Destination</strong></p>
        <p><small><%= @plane.location %> to <span id="destination"><%=  params[:destination] %></span></small></p>
      </div>
      <!-- make a card -->
      <div class="mb-3 p-3 bg-white rounded border">
        <p><strong>Map</strong></p>
        <div id="map" style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
      <!-- /menu -->
    </div>
    <div class="col-4">
      <!-- checkout -->
      <div class="bg-white border p-3 mt-3">
        <% if user_signed_in? %>
        <%= link_to "Book", new_plane_booking_path(destination: params[:destination], user_id: @user.id, plane_id: params[:id]), method: :get,  class: "btn btn-danger w-100" %>

        <% else  %>
        <%= link_to "Login and Book", new_user_session_path(destination: params[:destination], plane_id: params[:id]), method: :get,  class: "btn btn-danger w-100" %>
        <% end %>

        <div class="mt-3 d-flex justify-content-between">
          <p><strong>Charter</strong> (1)</p>
          <p> $<%= @plane.base_price%> </p>
        </div>

        <div class="mt-3 d-flex justify-content-between">
          <p><strong>Flight</strong> (2)</p>
          <p> $<%= @flight_cost %> </p>
        </div>

        <div class="pt-3 d-flex justify-content-between border-top">
          <p><strong>Total</strong></p>
          <p><strong> $<%= @total_cost %> </strong></p>
        </div>
      </div>
      <!-- /checkout -->
    </div>
  </div>
</div>
