<div class="container">
  <div class="row py-3 justify-content-between">
    <div class="card col-md-7 p-0">
      <%= cl_image_tag(@plane.image, crop: :fill, class: "card-img-top")  %>
      <div class="card-body">
        <h5 class="card-title"> <%= @plane.description %> </h5>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="card bg-light col-md-4 p-0">
      <div class="card-header">Flight Info</div>
      <div class="card-body">
        <h5 class="card-title"><span id="plane_location"><%= @plane.location %></span> to
          <span id="destination"><%=  params[:destination] %></span></h5>
          <p class="card-text"> flight duration: <%= @flight_time_in_hours %> </p>
        <p>charter cost: $<%= @plane.base_price%> + <br></p>
        <p class="flight_price_label">flight cost: <%= @flight_cost %> <br></p>
        <p class="total_price_label">total cost: <%= @total_cost %> <br></p>
        <br>
        <% if user_signed_in? %>

          <%= link_to "Book", new_booking_path(destination: params[:destination], user_id: @user.id, plane_id: params[:id]), method: :get,  class: "btn btn-danger" %>

        <% else  %>
          <%= link_to "LogIn and Book", new_user_session_path(destination: params[:destination], plane_id: params[:id]), method: :get,  class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
