<div class="container">
  <div class="row py-3 justify-content-between">
    <div class="card col-md-7 p-0">
      <img src="https://www.priorityonejets.com/wp-content/uploads/2013/11/Midsize-Private-Jet-Charter-Hawker-800XP-e1446489556860.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> <%= @plane.description %> </h5>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card bg-light col-md-4 p-0">
      <div class="card-header">Flight Info</div>
      <div class="card-body">
        <h5 class="card-title"><span id="plane_location"><%= @plane.location %></span> to
          <span id="destination"><%=  params[:destination] %></span></h5>
        <p class="card-text"> flight duration: <%= @flight_time_in_hours %> </p>

        <p>charter cost: $<%= @plane.base_price%> + <br></p>
        <p class="flight_price_label">flight cost: <%= @flight_cost %> <br></p>
        <p class="total_price_label">total cost: <%= @total_cost %> <br></p>
      </div>
    </div>
  </div>
</div>

