<div class="container">
  <h1> Your Bookings</h1>
    <div class="card-deck">
    <%= @bookings.each do |booking| %>
      <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h2 class="card-title">
              <%= booking.destination %>
            </h2>
            <%= link_to "Delete", plane_booking_path(params[:plane_id], booking.id), method: :delete,  class: "btn btn-danger" %>

          </div>
          <div class="card-text">
            <% if booking.start_date < Date.today %>
              <h2> Your flight was on <%= booking.start_date %></h2>
              <%= link_to "Create a review", new_plane_booking_review_path(params[:plane_id], booking.id) ,  class: "btn btn-danger" %>
            <% else %>
              <h2> Your flight is on <%=  booking.start_date %>  </h2>
            <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

