<div class="container">
    <div class="container" id="form">
      <form action="" method="get" class="search_form">
        <div class="container" id="search_form">
          <div class="search-title">
          <h2>Book flights on a private jet</h2>
          <%= form_with url: planes_path, method: :home,
            wrapper: :inline_form,
            html: { class: "form-inline" },
            wrapper_mappings: {
            boolean: :inline_boolean
            } do |form| %>
            <div class="search-form-control form-group">
              <%= form.text_field :location, placeholder: "From" %>
              <%= form.text_field :destination, placeholder: "To" %>
              <%= date_field_tag :date %>
              <%= form.submit "Find", class: "btn-primary mb-2"  %>
            </div>
          <% end %>
      </form>
    </div>
</div>


