
<style>
body {
  background-image: radial-gradient(circle, rgba(48,47,47,0.5396533613445378) 100%, rgba(179,179,179,0) 100%), url('<%= cl_image_path 'plane_y6h40q--new', crop: :fill %>');
}
.navbar {
  background: transparent;
  border-bottom: transparent;
}

</style>


<div class="container">
    <div class="container" id="form">
      <form action="" method="get">
          <div class="ml-3"><h2>Book flights on a private jet</h2></div>
          <%= form_with url: planes_path, method: :home,
            wrapper: :inline_form,
            html: { class: "form-inline" },
            wrapper_mappings: {
            boolean: :inline_boolean
            } do |form| %>
            <div class="search-form-control form-group" >
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <%= form.text_field :location, required: true, placeholder: "From", class: "form-control search-slt" %>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <%= form.text_field :destination, required: true, placeholder: "To", class: "form-control search-slt"%>
                </div>
                <div class= "col-lg-3 col-md-3 col-sm-12">
                  <%= form.text_field :departure_date, required: true, placeholder: "Departure", class: "datepicker form-control bg-white" %>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <%= form.submit "Find", class: "btn btn-primary", id: "button" %>
                </div>
              </div>
          <% end %>
      </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
